###> symfony/framework-bundle ###
/.idea/
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/media/avatars/*
/public/media/creations/*
/var/
/vendor/
###< symfony/framework-bundle ###
!/public/media/avatars/noset.png
###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
