<h3>You did it! Registered on Symfony 5 CRUD!</h3>

Hi {{ firstname }}! You're successfully registered on Symfony 5 CRUD.
Login: {{ username }}
Password: {{ password }}

Thanks!

<img src="{{ absolute_url(asset('/media/logo.png')) }}">