<h3>You did it! Registered on Sataku SlideShow!</h3>

Hi {{ firstname }}! You're successfully registered on Sataku SlideShow.
Login: {{ username }}
Password: {{ password }}

Thanks!

<img src="{{ absolute_url(asset('/media/logo.png')) }}">